.paper {
	position: relative;
	background: rgba(4, 191, 148, 0.16);
	border-radius: 16px;

	&--search {
		padding: 56px;
	}

	&--banner {
		padding: 24px;
	}
}

@media screen and (max-width: 768px) {
	.paper {
		&--search,
		&--banner {
			padding: 16px;
		}
	}
}