.bread-crumbs {
	display: flex;
	gap: 8px;

	&__link,
	&__current-page {
		text-decoration: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #91A0B6;
	}
}

@media screen and (max-width: 425px) {
	.bread-crumbs {
		margin: 16px 0 6px;
	}
}