.app {

	&__main-content {
		grid-area: content;
		display: grid;
		gap: 48px;
	}

	&__img {
		width: 521px;
		height: 364px;
	}
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  display: grid;
  gap: 32px;
	grid-template-areas:
    ". content .";
	grid-template-columns: 1fr 10fr 1fr;
}

@media screen and (max-width: 430px) {
	.app {
		&__main-content {
			gap: 18px;
		}
	}
	
	.container {
		grid-template-areas: "content";
		grid-template-columns: 4fr;
		gap: 32px;
		margin: 0 16px;
	}
}

@media screen and (min-width: 430px) and (max-width: 768px) {
	.app {
		&__main-content {
			gap: 18px;
		}
	}

	.container {
		grid-template-areas: "content";
		grid-template-columns: 8fr;
		gap: 16px;
		margin: 0 24px;
	}
}
