.app {

	&__main-content {
		grid-area: content;
	}
}

.container {
	width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  display: grid;
  gap: 32px;
	grid-template-areas:
    ". content .";
	grid-template-columns: 1fr 10fr 1fr;
}

@media screen and (max-width: 430px) {
	.container {
		gap: 25px;
	}
}
