.image {
	width: 100%;
	object-fit: cover;
	border-radius: 12px;

	&--default {
		height: 364px;
	}

	&--small {
		height: 240px;
	}
}

@media screen and (max-width: 620px) {
	.image {
		&--default {
			height: 240px;
		}
	}
}